body {
    background: lightblue;
    font-family: 'Jost', sans-serif;
}

/* navbar */

#navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 8vh;
}

#navbar #toggler {
    color: black;
    transition: 0.25s;
    position: absolute;
    top: 1em;
    right: 1.5em;
}

#navbar #toggler:hover {
    color: grey;
    cursor: pointer;
    transition: 0.25s;
}

/* -end- navbar */

/* Menu Screen */

#menu-screen-div {
    position: absolute;
    display: none;
    align-content: center;
    background-color: coral;
    height: 100vh;
    width: 100vw;
    flex-wrap: wrap;
    opacity: 0;
    font-family: 'Jost', sans-serif;
    z-index: 100;
}

.menu-link {
    color: white;
    width: 100%;
    text-align: center;
    margin: 1em 0 1em 0;
    font-size: 200%;
    transition: 0.25s;
    cursor: default;
    text-decoration: none;
}

#x-button {
    position: absolute;
    top: 1em;
    right: 1.5em;
}

#x-button:hover {
    color: grey;
    cursor: pointer;
}

.menu-link span:hover {
    cursor: pointer;
    color: grey;
    transition: 0.25s;
}

#menu-screendiv i {
    position: absolute;
    top: 1em;
    right: 1.5em;
    color: white;
}

#menu-screendiv i:hover {
    color: grey;
    cursor: pointer;
}

.show { /* triggered with javascript to fade in menu */
    transition: opacity 300ms;
}

.hide { /* triggered with javascript to fade in menu */
    transition: opacity 300ms;
}

/* -end- Menu Screen */

/* Home Screen */

#home-screen {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home-screen h1 {
    font-size: 300%;
    color: black;
    font-weight: 300;
    margin: 1em;
}

/* -end- Home Screen */

/* App Page */

#app-page-screen {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#app-page-grid {
    height: 75vh;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#app-page-module {
    height: 15em;
    width: 15em;
    background: white;
    margin: 1em;
    border-radius: 1em;
    cursor: pointer;
    box-shadow: 10px 10px 10px rgba(150, 150, 150, 0.281);
}

#app-page-module:hover { /* moves the module up when hovered over */
    position: relative;
    top: -0.5em;
    box-shadow: 20px 20px 10px rgba(150, 150, 150, 0.281);
}

/* -end- App Page */